beautifulsoup4
bitly-api-python==1.0.3
bs4
certifi
charset-normalizer
click
cloudscraper
flask[async]
flask_restful
idna
itsdangerous
Jinja2
jikanpy
lk21
lxml
MarkupSafe
PyBypass
pymongo
pyparsing
requests
requests-toolbelt
soupsieve
textblob
urllib3
waitress
Werkzeug
wikipedia